/* 0.1) Variáveis */
:root {
    --color-primary: #405C32;
    --color-primary-bright: #557546;
    --color-primary-dark: #2f4624;
    --color-linhas: #d48a00;

    /* --menuItemHeight: 55px; */
    --menuItemHeight: 60px;

    --margin: 1rem;
    --large-margin: calc(4 * var(--margin));
    --bright-ref: #ffffff;
}
/* 0.2) Unidades */
html {
    font-size: 10px;
    -webkit-text-size-adjust: 100%; /* Escala se manter em mobiles */
}

/* 1) Typography */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');
html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* 1.1) Font-Size */

    h2     { font-size: 2.4rem; font-weight: 400; }

    h3     { font-size: 1.8rem; font-weight: 300; }

    .info { font-size: 1.4rem; margin-top: 0 }
    .ficha-tecnica { font-size: 1.4rem; margin-top: 0 }
    .name { font-size: 1.2rem; margin-top: -4px}

    .menu-option p { font-size: 2rem; font-weight: 500; }
    .menu-option p { text-align: center; }
    select       { font-size: 2.3rem; font-weight: 700; }

    p      { font-size: 1.8rem; }
    h6     { font-size: 1.2rem; font-weight: 700; }

/*  1.2) Font Layout and Design */

    .menu-option {
        list-style-type: none;
    }
    .menu-option p {
        /* Boundary */
        margin: -9px 0px -4px 0px;
    }

    .menu-option div:hover {
        cursor: pointer;
    }

    h1, h2, h3, p {
        color: var(--bright-ref);
    }
    h2 {
        margin-top: 3rem;
    }
    p {
        line-height: 2.5rem;
    }

/*  1.3) Hide .en elements - Setting default language */
    .pt { display: block; }
    .en { display: none; }

/*   1.4) Loading block */
.loading-animation {

    position: fixed;
    z-index: 10;
    transform-origin: center;
    top: 50vh;
    left: calc(50vw - 16px);

    height: 32px;
    width: 32px;
    border-radius: 20px;
    border: 2px solid var(--bright-ref);
    border-left-color: rgba(0,0,0,0);

    display: none;

    transform: rotate(360deg);
    animation: rotacaoLoading 1.5s linear infinite;
}
@keyframes rotacaoLoading {
    from { transform: rotate(0deg);   };
    to   { transform: rotate(360deg); };
}

/*  2) Layout Structure */

    * {
        margin: 0;
    }

    h1, h2, h3, h6, p, select, img {
        margin-top: 1rem;
    }

    body {
        width: 100%;
        min-height: 100vh;

        background-color: var(--color-primary);
    }
    #app {
        width: 100%;
        max-width: 480px; /* Can be adjusted... */
        height: 100%;
        margin: 0 auto;

        overflow: hidden;
    }

/* 2.1) Presentation and Menu Part */
.main {
    position: relative;
    top: 0;
    left: 0%;
    z-index: 0;

    opacity: 1;
    transition: opacity .5s ease;
}
.menu-option div {
    height: var(--menuItemHeight);
    border-top: 2px solid var(--color-primary-bright);

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.option-disabled p {
    color: var(--color-primary-bright);
}


ol {
    padding: 0;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
}

/* 2.2) Content Part */
#appContent {
    display: none;
    transition: display .5s ease;

    max-width: 640px;
    width: 100%;
}

/* Adress bar issue iPhone */
.texto-mostra,
.artistas,
.curador,
.ficha-tecnica {
    margin-top: 75px;
}

#selecaoDiv #selecaoDivInnerHTML {
    margin-left: var(--large-margin);
}
.divOptionArtist {
    border-top: 1px solid var(--color-primary-bright);
    /* border-bottom: 1px solid var(--color-primary-bright); */
}


.divOptionArtist:hover {
    cursor: pointer;
}

.divOptionArtist img {
    height: 42px;
    width: 42px;
    border-radius: 46px;
    border: 1px solid var(--bright-ref);
    opacity: .7;

    margin-left: var(--large-margin);
    margin-top: auto;
    margin-bottom: auto;
}

.bottom-bar {
    position: fixed;
    bottom: 0px;
    background-color: var(--color-primary-bright);
    width: 100%;
    height: 100px;
    margin-left: calc(-4 * var(--margin));

    flex-direction: column;
    justify-content: space-around;
}
.bottom-bar * {
    margin-left: var(--large-margin);
    margin-right: var(--large-margin);
}
.bottom-bar h3 {
    margin-top: 0;
    margin-bottom: -20px;
}

.back-to-menu {
    padding-bottom: 100px;
}
.back-to-menu div {
    margin-top: 2rem;
    border-top: none;
    height: 80px;

    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    background-color: var(--color-primary-bright);
    border-radius: 10px;
}

/* TEXTO MOSTRA */
:root {
    --width-panoramica: 320px;
    --margin-bottom-panoramica: -213.5px;
}
@media screen and (min-width: 500px) {
    :root {
        --width-panoramica: 480px;
        --margin-bottom-panoramica: -320.25px;
    }
}
@media screen and (min-width: 1024px) {
    :root {
        --width-panoramica: 620px;
        --margin-bottom-panoramica: -413.65px;
    }
}


.panoramicas {
    width: var(--width-panoramica);
    height: calc(-1 * var(--margin-bottom-panoramica));
    
    /* Container! */
    margin: 0 auto;
}

.panoramicas img {
    width: 100%;
    display: block;
    position: relative;

    margin-top: 0;
    margin-bottom: var(--margin-bottom-panoramica);

    transition: all 1s ease;
}

.panoramicas :nth-child(15) {
    margin-bottom: 0px;
}

.controlPanoramica {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 100;

    margin-top: -15px;
    
    margin-left: var(--large-margin);
    margin-right: var(--large-margin);

    opacity: .8;
}
.controlPanoramica button {
    height: 40px;
    width: 35px;
    margin-right: 5px;
    
    color: white;
    border: none;
    background-color: var(--color-primary-bright);

    border-radius: 3px;
}
.controlPanoramica button:hover {
    background-color: var(--color-linhas);
}
.creditPanoramicas {
    margin: auto 0 auto auto;
    font-size: 10px;
}

.texto-mostra {
    padding-bottom: calc(4* var(--margin));
}

.sobre-expo {
    margin-left: var(--large-margin);
    margin-right: var(--large-margin);
}

.sobre-expo :first-child {
    margin-top: var(--large-margin);
}

/* INSTITUICAO */
a:link {
    color: var(--bright-ref);
}
.instituicao img {
    width: 100%;
    margin-top: 0;
    margin-bottom: -30px;
}

.instituicao *:not(img),
.ficha-tecnica {
    margin-left: var(--large-margin);
    margin-right: var(--large-margin);
}

.instituicao h2 {
    margin-bottom: 1rem;
}

.space-bottom {
    margin-bottom: 1.5rem;
}

.block {
    display: none;
}
#selecaoDiv {
    height: var(--menuItemHeight);
    overflow-y: hidden;

    transition: height .5s ease;

    background-color: var(--color-primary-dark);
}
#selecaoDiv div {
    display: flex;
    flex-direction: row;
    height: var(--menuItemHeight);
}
#selecaoDiv p {
    margin: auto;
    margin-left: 1rem;
}
#selecaoDiv div:hover {
    background-color: var(--color-primary-bright);
}
.selecaoDiv.selected {
    margin-bottom: -100px
}
#selecao-artista {
    margin: auto;
}

.sections {
    position: relative;
    z-index: 0;
}
.sections div {
    display: none;
}
.sections :target {  /* Section baseado na url # */
    display: flex;
}

.nameArtist,
.nameCurator {
    flex-direction: row;
}
.nameArtist p,
.nameCurator p {
    font-size: 2.2rem;
    margin: auto auto auto 0;
}

.sections > div { /* Cada div de cada artista */
    flex-direction: column;
    display: none;
    transition: display 1s linear;

    /* padding-top: 100px; */
    
    padding-top: var(--large-margin);
    margin-left: var(--large-margin);
    margin-right: var(--large-margin);
    /* padding-bottom: calc(4* var(--margin)); */
}
.curador {
    padding-top: var(--large-margin);
    margin-left: var(--large-margin);
    margin-right: var(--large-margin);
    padding-bottom: calc(4* var(--margin));
}

.sections img,
.curador img  {
    margin: 2rem auto 2rem 0;
    max-width: 80%;
    border-left: 3px solid var(--color-linhas);
    padding-left: 7px;
    margin-left: -10px;
}

/* 2.2.1) Footer */
footer {
    background-color: var(--bright-ref);
    padding: 1px;
}
footer h6 {
    margin: 0;
    text-align: center;
}
.footer-container {
    margin: var(--large-margin);
}
.footer-container img {
    height: 48px;
    padding-left: var(--margin);
    padding-right: var(--margin);
    /*margin-right: 2rem;*/
}
/* Ajuste das logos Secult e Gov Pará muito altas*/
.realizacao img:nth-child(4) { height: 30px; }
.realizacao img:nth-child(5) { height: 30px; }

.apresentacao img,
.realizacao img,
.patrocinio img {
    margin-left: auto;
    margin-right: auto;
}

.realizacao {
    max-width: 320px;
    margin: auto;
}

/* Espacamento entre grupo de logos */
.apresentacao,
.realizacao,
.patrocinio {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

#projeto-contemplado {
    margin: auto;
    margin-top: var(--margin);
    margin-bottom: var(--margin);

    text-align: center;
    font-size: 1.4rem;
}

@media screen and (min-width: 1024px) {

    .back-to-menu {
        display: none;
    }

    .loading-animation {
        left: calc(50% - 16px);
        top: 200px;
    }

    #app {
        min-width: 1024px;
        display: grid;
        grid-template-areas:
        "menuHeader menuHeader"
        "mainLogo   contentArea"
        "logos      contentArea";
        grid-template-columns: 384px 1fr;
        grid-template-rows: var(--menuItemHeight) 384px 541px; /* 980px height total */
        /* grid-column-gap: calc(var(--large-margin) / 2); */
    }
    .footer-container img {
        height: 40px;
    }
    .mainLogo {
        grid-area: mainLogo;
    }
    .mainMenu {
        grid-area: menuHeader;
    }
    footer {
        grid-area: logos;
    }
    #appContent {
        grid-area: contentArea;
    }

    #appContent {
        max-height: calc(980px - var(--menuItemHeight));
        overflow-y: scroll;
        background-color: var(--color-primary);
    }
    .bottom-bar {
        width: 623px;
    }

    .mainMenu {
        background-color: var(--bright-ref);
        background-color: var(--color-primary);
        border-bottom: 2px solid var(--bright-ref);
    }
    .mainMenu p {
        color: var(--bright-ref);
        font-size: 1.1rem;
    }
    .option-disabled p {
        color: var(--color-primary-bright);
    }
    .mainMenu ol{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .mainMenu div {
        border-top: none;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .ficha-tecnica h2 {
        margin-top: 2rem;
    }

    .texto-mostra,
    .artistas,
    .curador,
    .ficha-tecnica {
        margin-top: calc(var(--large-margin)/ 2);
        margin-top: 0;
    }

    .sections img,
    .curador img {
        max-width: 240px;
    }

    /* Last <p> .pt .en */
    /* Fix Collapsing with audio controls bellow */
    #artista_43 :nth-child(9),
    #artista_43 :nth-child(10) {
        margin-bottom: 120px;
    }
}