/*Tipografia */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-text-size-adjust: 100%; /* Escala se manter em mobiles */
}
:root {
    --color-primary: #405C32;
    --color-secondary: #557546;
    --color-linhas: #d48a00;


    --height-header: 480px;
    --height-footer: 300px;
    --margin: 1rem;
    --color-primary-bright: white;
}

/* Construcao do site - Temp */
header + a {
    margin-left: 2rem;
}

h1, h2, h3, h6, p, select, img {
    margin-top: 1rem;
}

/* Font-size */
h3     { font-size: 1.8rem; font-weight: 300; }
p      { font-size: 1.8rem; }
select { font-size: 2.3rem; font-weight: 700; }
h6     { font-size: 1.2rem; font-weight: 700; }

h1, h2, h3, p {
    color: white;
}
h2 {
    margin-top: 3rem;
}
p {
    line-height: 2.5rem;
}

/* Ocultar Versão Inglês */
.pt { display: block; }
.en { display: none; }

/* Estilo Geral */
* {
    margin: 0;
}


.main-texto {
    overflow: hidden;
    overflow-y: scroll;
    
    height: 60vh;
    /* width: 100%; */

    margin: 0 calc(4 * var(--margin));
    background-color: var(--color-primary);
}


body {
    min-height: 100vh;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--color-primary);
    outline: 16px solid var(--color-secondary);

}
    header {
        height: var(--height-header);
        max-width: 480px;
        margin: 0 auto;
        background-image: url(/images/identidade-temp.jpg);
        background-position-x: center;
        background-size: contain;
        background-repeat: no-repeat;
    }


.screen1 {
    /*height: 100vh;*/
}

    .main {
        height: 300px;
    }


        .selecao {
            padding-top: 1px;
            height: 300px;
            z-index: 1;
            position: sticky;
            top: 0px;
            background-color: rgba(64,92,51,.90);
            /*border-left: 3px solid white;*/
            /*border-right: 3px solid white;*/

            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .selecao h3,
        .bottom-bar h3 {
            margin-top: 1.5rem;
        }
            
            select {
                width: 80%;
                margin: auto;
                /*color: white;*/
            }
            #aviso_index h1 {
                text-align: center;
            }
            .selecao h3 {
                text-align: center;
            }

        .divisao-horizontal {
            margin: 0 calc(4 * var(--margin));
            height: 2px;
            background-color: white;
        }

.todos_artistas img {
    display: block;
    margin: 0;
    width: 25%;
    height: 25%;
    /*height: 100px;*/
}

.todos_artistas {
    display: flex;
    flex-wrap: wrap;

    position: relative;
    bottom: 0px;


    animation: slideshowArtistas 60s linear alternate;
    animation-iteration-count: infinite;
}
@keyframes slideshowArtistas {
    from { bottom: 0px; }
    to { bottom: 1260px; }
}


.container-todos-artistas {
    height: 300px;
    overflow-y: hidden;
    position: relative;
    top:-300px;
    margin-bottom: -300px;
}
.container-todos-artistas::before {
    display: block;
    content: " ";
    /*margin-top: -100px;*/
    /*background-image: url(/images/avatars/artista_1.jpg);*/
    /*background-size: 100%;*/
    /*outline: 1px solid red;*/

}


.sections > div { /* Cada div de cada artista */
    flex-direction: column;
    display: none;
    transition: display 1s linear;

    margin-top: 0;
    margin-left: calc(4 * var(--margin));
    margin-right: calc(4 * var(--margin));
    /*padding-top: 150px;*/
    
    /*margin-top: 100px;*/
}
.sections div :last-child {
    /* padding-bottom: 50px; */
}

.sections :target {  /* Section baseado na url # */
    display: flex;
    /*flex-direction: column;*/
}

/* PARTE DE CIMA */
.sections > div::before {
    display: block;
    content: " ";
    /*background-image: url(/images/avatars/artista_1.jpg);*/
    /*background-size: 100%;*/
    height: 100px;
    /*background-color: "";*/
    /*outline: 1px solid red;*/
}
.sections img {
    margin: 2rem auto 1rem auto;
    max-width: 80%;
    box-shadow: 3px 3px 0px var(--color-primary-bright);
}



#artista_43 .bottom-bar {
    margin-top: 1rem;
    position: sticky;
    bottom: 0px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-top: 2px solid white;
    background-color: rgba(64,92,51,.90);
}
#artista_43 .bottom-bar h3 {
    margin-bottom: 1.5rem;
}
audio {
    width: 100%;
    margin-bottom: 1.5rem;
}

.loading-animation {
position: fixed;
transform-origin: center;
top: 50vh;
left: calc(50vw - 16px);

height: 32px;
width: 32px;
border-radius: 20px;
border: 2px solid white;
border-left-color: rgba(0,0,0,0);

animation-name: rotacaoLoading;
animation: rotacaoLoading 1.5s linear infinite;

display: none;
}

@keyframes rotacaoLoading {
    from { transform: rotate(0deg);   };
    to   { transform: rotate(360deg); };
}



.sobre-expo {
    margin: var(--margin) calc(2 * var(--margin));
}
.sobre-rodape {
    margin: var(--margin) calc(4 * var(--margin));
}

footer {
    background-color: white;
    padding: 1px;
}

footer h6 {
    margin: 0;
    text-align: center;
}

    .footer-container {
        margin: calc(4 * var(--margin));
    }
        .footer-container img {
            height: 50px;
            padding-left: var(--margin);
            padding-right: var(--margin);
            /*margin-right: 2rem;*/
        }
        /* Ajuste de tamanho de algumas logos */
        .realizacao img:nth-child(4) { height: 30px; }
        .realizacao img:nth-child(5) { height: 30px; }

        /* MARGENS */
        .apresentacao img:nth-child(1),
        .realizacao img:nth-child(1),
        .realizacao img:nth-child(4),
        .patrocinio img:nth-child(1) {
            margin-left: auto;
        }
        .apresentacao img:nth-child(2),
        .realizacao img:nth-child(3),
        .realizacao img:nth-child(5),
        .patrocinio img:nth-child(1) {
            margin-right: auto;
        }

        .realizacao {
            max-width: 320px;
            margin: auto;
        }


        /* Espacamento entre grupo de logos */
        .apresentacao,
        .realizacao,
        .patrocinio {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 2rem;
        }
        
#projeto-contemplado {
    margin: auto;
    margin-top: var(--margin);
    margin-bottom: var(--margin);

    text-align: center;
    font-size: 1.4rem;
}